# --- Fichiers compilés ---
*.exe
*.o
*.obj
*.dll
*.so
*.class

# --- Dossiers de build ---
cmake-build-debug/
cmake-build-release/
build/
out/

# --- Fichiers temporaires ---
*.log
*.tmp
*.bak
*.swp
*~

# --- Fichiers système ---
.DS_Store
Thumbs.db

# --- Fichiers générés par CMake ---
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# --- Configurations IDE ---
.idea/
.vscode/
**/CMakeLists.txt